/* Define your color variables */
:root {
    --primary-color: #86c129;
    --secondary-color: #003393;
    --accent-color: #0081e9;
    --light-color: #899dc9;
}

/* Use the color variables in your styles */
body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

h1 {
    color: var(--accent-color);
}

/* Test classes */
.test-primary {
    color: var(--primary-color);
    font-weight: bold;
    /* color: white; */
}

.test-secondary {
    color: var(--secondary-color);
    font-weight: bold;
    /* color: white; */
}

.test-accent {
    color: var(--accent-color);
    font-weight: bold;
    /* color: white; */
}

.test-light {
    color: var(--light-color);
    font-weight: bold;
    /* color: black; */
}